// TODO stillingar hér

//Stillingar fyrir skölun
$max-width: 1200px;
$gutter: 20px;

$opensans: "Open Sans", "Arial", "Helvetica", "sans-serif";
$oswald: "Oswald", "Verdana", "serif";

@mixin row() {
  display: flex;
  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);
}

@mixin columns($col: 1) {

  //margföldum með 1% til að breyta gildi í prósentu
  width: ($col / 12 * 100) *1%;
  padding-right: $gutter / 2;
  padding-left: $gutter / 2;
}

//Stillingar fyrir font
/*
Leturstærðir:  12    14   16   18      21     24   36    48    60 
    	í em: 0.75  0.875  1  1.125  1.3125  1.5  2.25    3   3.75

@mixin haus() {
    font-family: $oswald;
    font-size: 3.75em;
    margin: 30px 0px;
}

@mixin haus-link(){
    font-family: $oswald;
    font-size: 3.75em;
}

@mixin texti {

}

@mixin buttoncart() {
  display: flex;
  height: 50px;
  margin-left: 10px;
  font-size: 16px;
  flex-direction: row;
  justify-content: left;
  background-color: #fff;
  border: #000 solid 1px;
  border-radius: 5px;

  &:hover {
    color: #000;
    background: #cc9694;
  }

  .button__text {
    padding-right: 0.5*$gutter;
    padding-left: 0.5*$gutter;
    font-family: $opensans
  }

  .button__img {
    height: 25px;
    padding-left:0.5*$gutter;
    padding-right: 0.5*$gutter;
  }
}
