.item__content--index {
    padding-left: 10px;
    padding-right: 10px;
}

.item__select--index {
    width: 300px;
    height: 50px;
    margin: 20px 0px;
}

/* \/ \/ Útlit fyrir buttons START \/ \/ */
.button__index {
    background-color: #cc9694;
    border: none;
    border-radius: 2px; /* ATH ÞETTA ER EKKI ENDILEGA RÉTT */
    width: 180px; /* ATH ÞETTA ER EKKI ENDILEGA RÉTT */
    height: 35px; /* ATH ÞETTA ER EKKI ENDILEGA RÉTT */
    
}

/* /\ /\ Útlit fyrir buttons  END  /\ /\ */