@import "scss/config";

.products {
  &__row {
    @include row;
    flex-flow: row wrap;
  }

  &__col {
    @include columns(12);

    @media (min-width: 600px) {
      @include columns(6);
    }

    @media (min-width: 1000px) {
      @include columns(4);
    }
  }
}

.product {
  &__image * {
    width: 100%;
    margin-top: $gutter;
    margin-bottom: $gutter;
  }

  &__content {
    width: 100%;
    font-size: 1.5rem;
  }

  &__button {
    @include buttoncart();
  }

  &__select {
    justify-content: space-between;
    display: flex;
  }

  &__input {
    display: inline-block;
    margin: 0;
    font-size: 1rem;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
  }
}
