.item__product {
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
}

.items__product {
    padding-left: 10px;
    padding-right: 10px;
}

.button__cart:hover,
.button__cart:focus *{
    background: #cc9694;
    color: #000;
}


.button__cart img {
    height: 10px;
}

input {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0;
    color: #000;
    font-size: 1rem;
}

.item__select--products {
    justify-content: space-between;

}

@media (min-width: 700px) {
    .item__product {
        width: 50%;
        & * {
            width: 100%;
            height: auto;
        }
    }
}

@media (min-width: 1200px){
    .item__product {
        width: 33.3333%;
    }
}