@import "scss/config";
/* er kannski að yfirskrifa main annars staðar?*/


.staff {
  &__row {
    @include row;
    flex-flow: row wrap;
  }
  &__col {
    @include columns(12);

    @media (min-width: 700px){
      @include columns(6);
    }
  }
}

/* This container is needed to position the front and back side */

.card {
  position: relative;
  overflow: hidden;
  margin-top: 0.5*$gutter;
  margin-bottom: 0.5*$gutter;
  
  &::before{
    display: block;
    padding-top: 150%;
    content: "";
  }

  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  &__back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
    color: #000;
    justify-content: center;
    text-align: center;
    align-content: center;
    transform: rotateY(180deg);
  }
  &__title{
    font-family: $oswald;
  }
  &__text{
    font-family: $opensans;
  }

  &__image {
    width: 100%;
  }

  &:hover &__inner{
    transform: rotateY(180deg);
  }
}

  /*&__back__content {
    height: auto;
    align-content: center;
    justify-content: center;
  }*/
