@import "scss/config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  //Font
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-family: 'Oswald', Verdana, serif;

  // TODO fleiri grunn stillingar
  font-size: 16px;
}

main {
  $max-width: 1200px;
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 20px; 
  padding-right: 20px;

  @media (min-width: $max-width) {
    padding-left: 0px;
    padding-right: 0px;
  }
}


// TODO sækja allar sass skrár
@import "../scss/headAndFoot.scss";
@import "../scss/item.scss";
@import "../scss/products.scss";
@import "../scss/index.scss";
